<?xml version="1.0" ?>
<model>
  <name>Holybro X500 V2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>beret</name>
    <email>beret@hipisi.org.pl</email>
  </author>
  <description>
    Holybro X500 V2 quadrotor for Swarm Digital Twin.
    Aerodynamic properties from Valencia et al. (2025).
    Compatible with Ardupilot SITL.
  </description>
</model>
